*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    padding-bottom: 1em;
    background-color: #9ae997;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    width: 100%;
    background-color: #698066;
    color: #CAE65C;
}
.icon-container{
    display: flex;
    justify-content: space-evenly;
    padding: 0.5em 0;
    align-items: center;
}
.icon-container > img{
    height: 2em;
    margin: 0 0.25em;
}


.mid{
    width: 100%;
    height: 350px;
    padding: 0 2em;

    margin-top: 2.5em;

    display: flex;
    justify-content: space-between;

}
.mid > img{
    width: 75%;
    height: 100%; 
}
.sub-mid{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.sub-mid > img{
    height: 45%;
    width: 100%;
}

main{
    padding: 0 2em;
    display: flex;
    justify-content: space-between;
    height: 650px;
    margin-top: 2.5em;
}
.title-container{
    background-color: #698066;
    color: #CAE65C;
}
main h1{
    margin-top: 0.5em;
    text-align: center;
}
main p{
    text-align: center;
}
main > img{
    height: 100%;
    width: 20%;
}
main > div{
    height: 100%;
    width: 75%;
    background-color: rgba(182, 151, 233,0.4);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.noticias-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: rgb(137, 115, 173);
    font-weight: bold;
}
.noticias-container > div{
    width: 30%;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-weight: bolder;
    font-size: small;
}
.noticias-container img {
    height: 160px;
    width: 85%;
}
.noticias-container p{
    width: 90%;
    text-align: center;
}

@media screen and (max-width : 700px) {
    #logo2,#logo3,.aside{
        display: none;
    }

    header{
        font-size: small;
    }
    


    .mid{
        flex-flow: column;
        margin-top: 1em !important;
    }
    .mid > img{
        width: 100%;
        height: auto;
    }
    header,.mid,main{
        padding: 0 0.5em !important;
    }
    .sub-mid{
        margin-top: 1em;
        flex-direction: row;
        width: 100%;
        height: 100px;
    }
    .sub-mid > img{
        width: 45%;
        height: 100%;
    }
    .mid{
        width: 100%;
        height: auto;
        padding: 0 2em;
    
        margin-top: 3em;
    
        display: flex;
        justify-content: space-between;
    
    }


    main{
        margin-top: 1em !important;
        height: auto;
    }
    main > div{
        width: 100%;
    }
    .noticias-container{
        margin-top: 1em;
    }
    .noticias-container > div{
        width: 45%;
    }
}